#contact {
  max-width: 100vw;
  min-height: 90vh;
  background: $gray-text;
  color: #ffffff;

  h2 {
    text-align: center;
    padding: 5rem 0 0 0;
    font-size: $header2;
  }
}

.contact-container {
  min-height: 100%;
  width: 100%;
  @include flex(center, center, row);
  padding-bottom: 5rem;
  flex-wrap: wrap;
}

.contact-form {
  flex: 1 1 50rem;
  width: 100%;
  @include flex(center, center, column);
  label {
    padding: 1.5rem 0;
    font-weight: 500;
    font-size: 3rem;
  }
  form {
    @include flex(center, center, column);
    width: 60%;
    max-height: 60%;
    input,
    textarea {
      border-radius: 8px;
      width: 100%;
      padding: 1.5rem 1.5rem;
      background: #555555;
      color: #fff;
      font-size: 2.5rem;
      &:focus {
        border-bottom: $special-color2 3px solid;
        outline: $gray-text;
      }
    }
    button {
      padding: 1.5rem 6rem;
      margin-top: 5rem;
      font-size: 3.5rem;
      border-radius: 50px;
      border: 4px #ffffff solid;
      background: rgb(248, 248, 248);
      color: #000;
      transition: 0.3s ease all;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: #fff;
      }
    }
  }
}

.contact-info {
  flex: 1 1 50rem;
  padding-top: 3rem;
  ul {
    @include flex(center, center, column);
    padding: 0;
    margin: 0;

    li {
      @include flex(center, center, column);
      padding: 2rem;
      font-size: 3rem;
      .icon-text {
        @include flex(flex-start, center, row);
        h3 {
          padding-left: 1rem;
        }
      }
    }
  }
  a {
    color: #fff;
    border: none;
    margin-top: 0.5rem;
    font-size: 2.5rem;
    &:hover {
      background: #fff;
      color: $gray-text;
    }
  }
  .socials {
    @include flex(space-evenly, flex-start, row);
    a {
      padding: 0;
      font-size: 5rem;
    }
    a:hover {
      background: none;
    }
    .fb:hover {
      color: #3b5998;
    }
    .twit:hover {
      color: #38a1f3;
    }
    .insta:hover {
      color: #dc2743;
    }
  }
}

footer {
  @include flex(center, center, row);
  max-height: 3.5vh;
  background: $gray-text;
  color: white;
  // border-image: $gradient;
  // border-top-width: 3px;
  // border-style: solid;
  // border-image-slice: 1;
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-image: $gradient 1 10%;
  padding: 1rem 0;

  img {
    width: 35px;
    margin-right: 3rem;
  }
}
