#projects {
  min-height: 55vw;
  width: 80vw;
  margin: auto;
  text-align: center;
  h2 {
    margin: 8rem 0;
  }
}

.projects-container {
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;

  margin-bottom: 5rem;
  h3 {
    margin: 3rem;
  }
  a {
    background: transparent;
    border: 2px solid $gray-text;
    color: $gray-text;
    padding: 0.8rem 2.5rem;
    border-radius: 50px;
    font-size: $text;
    font-weight: 500;
    transition: 0.5s ease all;
    margin: 1rem 0 3rem 0;

    &:hover {
      background: $gray-text;
      color: #fff;
    }
  }
  .button-container {
    @include flex(space-around, center, row);
    min-width: 70%;
    padding: 1rem 0;
  }
}

.photo-site,
.gym-site {
  flex: 1 1 50rem;
  @include flex(center, center, column);
  margin: 3rem;
  border: 2px solid #e2e2e2;
  text-align: left;
  border-radius: 8px;
  background: #e2e2e2;
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
