*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-head {
  width: 95vw;
  margin: 0 0 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

nav a {
  background: transparent;
  border: 2px solid #2c2c2c;
  color: #2c2c2c;
  padding: 0.8rem 2.5rem;
  border-radius: 2rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

nav a:hover {
  background: #2c2c2c;
  color: #fff;
}

.intro {
  min-height: 90vh;
  width: 90vw;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 1rem;
  display: inline-block;
  color: #38a4d3;
  text-shadow: 1px 1px 2px #000000;
}

.intro h3 {
  font-size: 6rem;
  padding: 2rem 0rem;
  margin: 0;
  text-shadow: 1px 1px 3px #000000;
}

.intro p {
  color: #2c2c2c;
  padding: 2.5rem 0;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-socials {
  margin-top: 4rem;
}

.intro-socials a {
  margin-right: 5rem;
}

.intro-text,
.intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#background {
  display: none;
}

#left-leaf {
  animation: leaves ease 1.8s alternate-reverse;
}

#right-leaf {
  animation: leaves ease 1.7s alternate-reverse;
}

#laptop-screen {
  background: transparent;
  opacity: 0.1;
  -webkit-animation: colors ease 5s forwards 1s;
          animation: colors ease 5s forwards 1s;
}

#head {
  -webkit-animation: head ease 1s alternate infinite;
          animation: head ease 1s alternate infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 1.8s infinite linear;
          animation: clock 1.8s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes head {
  from {
    -webkit-transform: rotateX(-2deg);
            transform: rotateX(-2deg);
    -webkit-transform: rotateZ(0.5deg);
            transform: rotateZ(0.5deg);
  }
  to {
    -webkit-transform: rotateX(2deg);
            transform: rotateX(2deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes head {
  from {
    -webkit-transform: rotateX(-2deg);
            transform: rotateX(-2deg);
    -webkit-transform: rotateZ(0.5deg);
            transform: rotateZ(0.5deg);
  }
  to {
    -webkit-transform: rotateX(2deg);
            transform: rotateX(2deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes leaves {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
            transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, -180deg);
            transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
}

@keyframes leaves {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
            transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, -180deg);
            transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
}

@-webkit-keyframes colors {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes colors {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1334px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  #background {
    display: block;
  }
  #center-leaf {
    fill: #38a4d3;
  }
  .intro-text,
  .intro-images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
  }
  .intro p {
    padding: 5.5rem 0;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  svg {
    height: 60%;
    margin-top: 4rem;
  }
  .main-head {
    width: 100;
  }
  nav {
    margin-top: 1rem;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
    margin-top: 2rem;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin: 2rem 0;
  }
  .intro-text {
    margin-top: 3rem;
    text-align: center;
  }
  .intro-images {
    text-align: center;
  }
  .intro-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-socials a {
    margin-right: 2rem;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-head {
  width: 95vw;
  margin: 0 0 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

nav a {
  background: transparent;
  border: 2px solid #2c2c2c;
  color: #2c2c2c;
  padding: 0.8rem 2.5rem;
  border-radius: 2rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

nav a:hover {
  background: #2c2c2c;
  color: #fff;
}

.intro {
  min-height: 90vh;
  width: 90vw;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 1rem;
  display: inline-block;
  color: #38a4d3;
  text-shadow: 1px 1px 2px #000000;
}

.intro h3 {
  font-size: 6rem;
  padding: 2rem 0rem;
  margin: 0;
  text-shadow: 1px 1px 3px #000000;
}

.intro p {
  color: #2c2c2c;
  padding: 2.5rem 0;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-socials {
  margin-top: 4rem;
}

.intro-socials a {
  margin-right: 5rem;
}

.intro-text,
.intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#background {
  display: none;
}

#left-leaf {
  animation: leaves ease 1.8s alternate-reverse;
}

#right-leaf {
  animation: leaves ease 1.7s alternate-reverse;
}

#laptop-screen {
  background: transparent;
  opacity: 0.1;
  -webkit-animation: colors ease 5s forwards 1s;
          animation: colors ease 5s forwards 1s;
}

#head {
  -webkit-animation: head ease 1s alternate infinite;
          animation: head ease 1s alternate infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 1.8s infinite linear;
          animation: clock 1.8s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@keyframes head {
  from {
    -webkit-transform: rotateX(-2deg);
            transform: rotateX(-2deg);
    -webkit-transform: rotateZ(0.5deg);
            transform: rotateZ(0.5deg);
  }
  to {
    -webkit-transform: rotateX(2deg);
            transform: rotateX(2deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes leaves {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
            transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, -180deg);
            transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
}

@keyframes colors {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1334px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  #background {
    display: block;
  }
  #center-leaf {
    fill: #38a4d3;
  }
  .intro-text,
  .intro-images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
  }
  .intro p {
    padding: 5.5rem 0;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  svg {
    height: 60%;
    margin-top: 4rem;
  }
  .main-head {
    width: 100;
  }
  nav {
    margin-top: 1rem;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
    margin-top: 2rem;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin: 2rem 0;
  }
  .intro-text {
    margin-top: 3rem;
    text-align: center;
  }
  .intro-images {
    text-align: center;
  }
  .intro-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-socials a {
    margin-right: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */