// * Variables
$header1: 2.6rem;
$header2: 5.2rem;
$header3: 2.7rem;
$header4: 2.3rem;
$text: 2rem;
$gradient: linear-gradient(to left, #38d39f, #3198c0);
$gradient-right: linear-gradient(to right, #38d39f, #3198c0);
$background-color: #154353;
$gray-text: #2c2c2c;
$special-color: #3198c0;
$special-color2: #38d39f;
@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "intro";
@import "projects";
@import "contact";

@media screen and (min-width: 2048px) {
  html {
    font-size: 70%;
  }
  .intro {
    max-width: 1920px;
    margin: auto;
    @include flex(center, center, row);
  }
  nav {
    max-width: 1920px;
  }
  .main-head {
    max-width: 1920px;
    margin: auto;
    box-sizing: border-box;
  }

  .intro-images {
    svg {
      width: 100%;
      height: 100%;
    }
  }
  #projects {
    max-width: 1920px;
    min-height: 50%;
  }
  #contact {
    min-height: 75%;
    .contact-container {
      max-width: 1920px;
      @include flex(center, center, row);
      margin: auto;
    }
  }
}

@media screen and (max-width: 1334px) {
  html {
    font-size: 53%;
  }

  .splash {
    width: 80%;
    right: -25%;
  }
  svg {
    width: 80%;
  }

  #background {
    display: block;
  }

  #center-leaf {
    fill: $special-color;
  }
  .intro-text,
  .intro-images {
    flex: 1 1 60rem;
  }

  nav {
    width: 100%;
  }
  .projects-container {
    margin: 0rem;
    .button-container {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1131px) {
  .splash {
    display: none;
  }
  .intro-socials {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }

  svg {
    height: 60%;
    margin-top: 4rem;
  }

  nav {
    margin-top: 1rem;
    .logo {
      @include flex(center, center, column);
      flex: 1 1 25rem;
      margin-top: 2rem;
    }
    ul {
      flex: 1 1 60rem;
      margin: 2rem 0;
    }
  }

  .projects-container {
    margin: 0rem;
    .button-container {
      width: 60%;
    }
  }

  .main-head {
    width: 90vw;
    margin: auto;
  }

  .intro-text {
    margin-top: 3rem;
    text-align: justify;
    h3 {
      margin-bottom: 5rem;
    }
    p {
      width: 95%;
    }
  }

  .intro-images {
    text-align: center;
    margin-bottom: 20rem;
    position: relative;
  }

  .intro-socials {
    a {
      margin: 3rem 5rem 8rem 5rem;
    }
  }

  .contact-info,
  .contact-form {
    flex: 1 1 70rem;
  }
}

@media screen and (max-width: 500px) {
  .projects-container {
    .button-container {
      flex-direction: column;
    }
  }
  .contact-form {
    margin-bottom: 10rem;
    form {
      width: 90%;
    }
  }
}

@media screen and (max-width: 330px) {
  ul {
    a {
      font-size: 2rem;
    }
  }
  .button-container {
    width: 100%;
  }
}
